npm config set init.author.name "Radha"
npm config set init.author.email "radhamanip5@gmail.com"
npm config set init.author.url ""
npm config set init.license "TEST"
npm config set init.version "0.0.1"
npm config set registry "https://registry.npmjs.com/"
